@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Trispace&display=swap');

* {
  font-family: 'Lato', sans-serif;
  font-family: 'Trispace', sans-serif;
}

#root {
  // text-align: center;
  // background-image: url('../images/giphy.gif');
  // background-repeat: no-repeat;
  // background-position: bottom;
}

h1 {
  // background-color: #16e7ce
}

main {
  //  background-image: url('../images/giphy.gif');
}

.container {
  // display: flex;
  // justify-content: space-between;
  text-align: center;
  background-image: url('../images/giphy.gif');
  background-repeat: no-repeat;
  background-position: bottom;
  height: 40vh;
  box-shadow: 10px;
}

.buttons {
}
