@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Trispace&display=swap');

* {
  font-family: 'Lato', sans-serif;
  font-family: 'Trispace', sans-serif;
}

#root {
  text-align: center;
  background-image: url('../images/giphy.gif');
  background-repeat: no-repeat;
  background-position: bottom;
}

h1 {

}

main {
//  background-image: url('../images/giphy.gif');
}

.container {
  // display: flex;
  // justify-content: space-between;
}

.buttons {

}